playwright
requests
beautifulsoup4
pymupdf
langchain
langchain-community
langchain-chroma
langchain-google-genai
google-generativeai
sentence-transformers
torch
chromadb
streamlit
python-dotenv
fastapi
uvicorn[standard]
python-multipart
